body{
  background-color:black;
}

.AVNLcontainer{
  display:flex;
  justify-content:space-around;
}
.AVNLcol{
  display:inline-flexflex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

}
.listbox{
  width:520px;
  border:1px solid #e24603;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: scroll;
  padding: 2em;
  display: flex;
  flex-direction:column;
}
.AVNLbox{
  height: 100vh;
  overflow-y: scroll;
  border:2px solid #e24603;

}
ul{
  list-style-type: none;
}