.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

.content {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px; /* Space above the line */
}

.textButton {
  background: none;
  border: none;
  color: inherit;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
  text-align: center;

  &:hover {
    text-decoration: underline; /* Subtle hover effect */
  }
}

.divider {
  color: #000;
  font-size: 16px;
}

.rectangle {
  box-sizing: border-box; /* Ensures padding and border are included in the width/height */
  position: absolute; /* Positions the rectangle absolutely within a relative container */
  width: 800px; /* Specific width */
  height: 40px; /* Specific height */
  background-color: transparent; /* No fill color */
  border: 1px solid #E34A3E; /* Apply border color and width */
  border-top: none; /* Removes the top border */
  border-radius: 30px; /* Specific border radius */
  border-top-left-radius: 0; /* Removes the curve on the top-left corner */
  border-top-right-radius: 0; /* Removes the curve on the top-right corner */
}
